  #container {
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
  }

  #left {
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
  }

  #middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
  }

  #right {
    width: 128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
  }

  #Wite_block {
    background-color: white;
    height: 240px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  #tijd {
    background-color: rgb(255, 255, 255);
    width: 245px;
    height: 40px;
  }

  #tijd_text {
    color: rgb(0, 0, 106);
    ;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
  }

  #Intercity {
    background-color: rgb(255, 255, 255);
    width: 235px;
    height: 40px;
    position: relative;
  }

  #info {
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 175px;
    position: relative;
  }

  #tijd_info {
    background-color: blue;
    width: 480px;
    height: 25px;
    position: relative;
  }

  #nummer_Box {
    background-color: white;
    width: 96px;
    height: 96px;
    margin-top: 30px;
    margin-left: 15px;
    position: relative;
  }

  #blue_blok {
    background-color: blue;
    width: 20px;
    height: 20px;
  }

  #number {
    color: rgb(0, 0, 106);
    font-size: 48px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
  }

  #spoor {
    font-size: 15px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: -20px;
  }

  #b {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 70px;
    top: 35px;
  }

  #text_Intercity {
    color: rgb(0, 0, 106);
    font-size: 35px;
    font-weight: bold;
  }

  #Heerlen{
    color: rgb(0, 0, 106);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 20px;
  }

  #Text_info{
    color: rgb(0, 0, 106);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 45px;
  }

  #Text2_info{
    color: rgb(0, 0, 106);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 80px;
  }

  #Hierna{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 3px;
  }
  #ns_logo{
    height: 30px;
    width: 90px;
    position: absolute;
    left: 140px;
    top: 10px;
  }
  #clock {
    width: 200px;
    height: 200px;
    
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
#point{
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  left: 96px;
  top: 97px;
}

#hour-hand {
  width: 3px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 98px;
  background-color: black;
  border-radius: 20px;
}

#minute-hand {
  width: 60px;
  height: 4px;
  position: absolute;
  top: 98px;
  left: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.marker {
  width: 10px;
  height: 20px;
  background-color: blue;
  position: absolute;
  top: 135%;
  left: 50%;
  transform-origin: 0px -170px; /* Verplaatst de markeringen verder naar buiten */
  border-radius: 20px;
}