#container {
  width: 936px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #000;
  margin-left:123px;
  margin-top:148px;
  opacity:1;
}

#left {
  width: 240px;
  background-color: #f2f2f2;
  height: 335px;
  border: 2px solid #000;
}

#middle {
  width: 568px;
  height: 339px;
  background-color: rgb(0, 0, 106);
  padding: 35px;
  box-sizing: border-box;
  border: 2px solid #000;
  position:relative;
}

#right {
  width: 128px;
  height: 335px;
  background-color: rgb(0, 0, 106);
  border: 2px solid #000;
}

#wittevierkantrechts {
  width: 96px;
  height: 96px;
  background-color: white;
  margin-left: 16px;
  margin-top: 34px;
  position:relative;
}

#blauwvierkantrechts {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 106);
  margin-left: 0px;
  margin-top: 0px;
}


#wit_vierkant_spoor{
    color: rgb(0, 0, 106);
    font-size:12px;
    position:absolute;
    top:6px;
    left:27px;
}
#wit_vierkant_18{
    color: rgb(0, 0, 106);
    font-size:64px;
    font-weight: bold;
    position:absolute;
    top:27px;
    left:3px;
}
#wit_vierkant_b{
    color: rgb(0, 0, 106);
    font-size:32px;
    position:absolute;
    font-weight: bold;
    top:34px;
    left: 71px;;
}

body{
    background-image:url("../img/treinbord.webp");
}

#middle_white_Box{
    height: 240px;
    width: 480px;
    background-color: white;
    position:absolute;
}

#spoor_Time_Number{
    color: rgb(0, 0, 106);
    font-size:40px;
    font-weight: bold;
    position: relative;
    left: 15px;
}
#spoor_Time{
    color: rgb(0, 0, 106);
    font-size:30px;
    position: relative;
    left: 45px;
    top: -35px;

}
#Intercity{
    color: rgb(0, 0, 106);
    font-size:35px;
    font-weight: bold;
    position: relative;
    left: 250px;
    top: -70px;
}

#Heerlen{
    color: rgb(0, 0, 106);
    font-size:35px;
    font-weight: bold;
    position: relative;
}